.goog-te-combo{
  background: rgb(20 184 166);
  border-radius: 8px;
  height: 2.5rem;
  max-width: 20vw;
  font-family: inherit;
  color: #000;
  font: bold;
  font-size: 0.9rem;
  text-align: center;
  margin: 0px !important;
  cursor: pointer;
}
.goog-logo-link{
  display: none !important;
}
.skiptranslate {
  font-size: 0 !important;
}
  
  